.quote{
  font-size: 13px;
  color: #3D3D3D;
  line-height: 24px;
  border: 1px solid #E2E2E2;
  padding: 12px 22px;
  border-radius: 6px;
  width: 90%;
  position: relative;

  .arrowDown{
    position: absolute;
    bottom: 3px;
    left: 30px;

    .arrow{
      border-color: #fff transparent transparent;
      border-style: solid;
      border-width: 11px;
      cursor: pointer;
      position: absolute;
      top: 3px;
      z-index: 1002;
    }
    .border{
      border-color: #E2E2E2 transparent transparent;
      border-width: 12px;
      top: 3px;
      z-index: 1001;
      left: -1px;
      border-style: solid;
      cursor: pointer;
      position: absolute;
      top: 3px;
    }
  }
}

.author{
  margin-top: 40px;
  margin-left: 10px;

  .pic{
    width: 71px;
    height: 71px;
    border-radius: 50px;
    float: left;
    position: relative;
    top: -12px;
    margin-right: 18px;
    border: 1px solid #ccc;
  }

  .name{
    color: #3C92C5;
    line-height: 23px;
    font-weight: 500;
  }

  .company{
    font-size: 14px;
    color: #909090;
    line-height: 23px;
    font-weight: 400;
  }
}
