.container {
  padding-top:50px;
  padding-bottom:50px;
  background-color: #f9fafb;
}

.header {
  text-align: center;
}

.subtitle {
  text-align: center;
  margin-bottom: 20px;
}

.logoRow {
  margin: 0 auto;
  padding-left: 80px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.logo {
  margin-right: 25px;
  margin-left: 25px;
}

