.container {
  padding-top: 110px;
  padding-bottom: 100px;
  border-top: 1px solid #979797;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
}

.container h2 {
  color: #43484d !important;
}

.container h3 {
  color: #525d66 !important;
}

.leftImageChildContainer {
  padding-left: 55px;

}


.rightImageChildContainer {

}

.image {
  //width: 300px;
  max-height: 350px;
  margin: 0 auto;
}

.rightImageChildContainer h2, .leftImageChildContainer h2 {
}

.rightImageChildContainer h3, .leftImageChildContainer h3 {
}

.button {
  margin-top: 20px;
}


