.signupButton {
  margin: 0 auto;
  width: 200px;
  display: inline-block !important;
  vertical-align: middle;
}

.signupInput {
  width:200px;
  position: relative;
  top: 1px;
  height: 44px;
  border-radius: 5px;
  border: 2px solid white;
  background: rgba(254, 254, 254, 0.4);
  margin-right: 8px;
  text-align: center;
}

.signupSubtitle {
  font-size: 12px;
  display:block;
  margin-top: 8px;
}

.signupInput::placeholder {
  color: white;
  text-align: center;

}

.inputError {
  border: 3px solid red;
}

