
.headerSignupButton {
  margin: 0 auto;
  width: 250px;
  display: block !important;
  vertical-align: middle;

}

.videoDiv {
  text-align: center;
  cursor: pointer;
  margin-bottom: 30px;
}

.playButton {
  display: block !important;
  text-align: center;
  margin-bottom: 5px;
}

.leftHomeImage {
  height: 350px;
  width: 750px;
  left: -30px;
  position: relative;
}


.rightHomeImage {
  height: 350px;
  width: 750px;
  right: -30px;
  position: relative;
}

.callbackContainer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), linear-gradient(to bottom, #59a2ff, #3e78ff);

}

.callbackHeader {
  color: white;
  text-align: center;
  margin-bottom: 25px;
}

.pageHeader {
  border: 0;
}



