.container {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), linear-gradient(to bottom, #59a2ff, #3e78ff);
}

.header {
  color:white;
  text-align: center;
  margin-bottom: 25px;
}

.scheduleDemoButton {
  display: block !important;
  width: 250px;
  margin: 0 auto;
}

