@import '../../theme/variables.scss';

.ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 25px;
  letter-spacing: 1px;
  color: #fff;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.ribbon.sticky{
  position: fixed;
}

.ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.ribbon.topLeft{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.ribbon.topRight{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.ribbon.bottomLeft{
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.ribbon.bottomRight{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Colors */

.ribbon.white{background: #f0f0f0; color: #555;}
.ribbon.black{background: #333;}
.ribbon.grey{background: #999;}
.ribbon.blue{background: $brand-info;}
.ribbon.green{background: #2c7;}
.ribbon.turquoise{background: #1b9;}
.ribbon.purple{background: #95b;}
.ribbon.red{background: #e43;}
.ribbon.orange{background: #e82;}
.ribbon.yellow{background: #ec0;}
