$sizes: (
  xs: 0.25,
  sm: 0.5,
  md: 1.0,
  lg: 2.1
);

$attributes: (
  'margin',
  'padding'
);

@each $size, $measurement in $sizes{
  @each $attribute in $attributes{
    .#{$attribute}-#{$size}-all{
      #{$attribute}: #{$measurement}em;
    }
    .#{$attribute}-#{$size}-top{
      #{$attribute}-top: #{$measurement}em;
    }
    .#{$attribute}-#{$size}-bottom{
      #{$attribute}-bottom: #{$measurement}em;
    }
    .#{$attribute}-#{$size}{
      #{$attribute}: #{$measurement}em;
    }
    .#{$attribute}-#{$size}-left{
      #{$attribute}-left: #{$measurement}em;
    }
    .#{$attribute}-#{$size}-right{
      #{$attribute}-right: #{$measurement}em;
    }
    .#{$attribute}-#{$size}-v{
      #{$attribute}-top: #{$measurement}em;
      #{$attribute}-bottom: #{$measurement}em;
    }
    .#{$attribute}-#{$size}-h{
      #{$attribute}-left: #{$measurement}em;
      #{$attribute}-right: #{$measurement}em;
    }
    .#{$attribute}-none{
      #{$attribute}: 0;
    }
    .#{$attribute}-none-top{
      #{$attribute}-top: 0;
    }
    .#{$attribute}-none-bottom{
      #{$attribute}-bottom: 0;
    }
    .#{$attribute}-none-left{
      #{$attribute}-left: 0;
    }
    .#{$attribute}-none-right{
      #{$attribute}-right: 0;
    }
    .#{$attribute}-none-v{
      #{$attribute}-top: 0;
      #{$attribute}-bottom: 0;
    }
    .#{$attribute}-none-h{
      #{$attribute}-right: 0;
      #{$attribute}-left: 0;
    }
  }
}

.pointer{
  cursor: pointer;
}
