// Bootstrap Variables
$brand-primary: #417bff;
$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #1FBEE7;
$btn-font-weight: 300;

$text-color: #555;

$font-size-base: 14px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;

$navbar-default-bg: #223741;
$navbar-default-color: #fff;
$navbar-default-brand-color: #fff;
$navbar-default-link-color: #d5d5d5;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-active-color: #fff;
$navbar-default-link-active-bg: $navbar-default-bg;

$navbar-inverse-bg: transparent;
$navbar-inverse-color: #fff;
$navbar-inverse-link-color: #fff;

$headings-font-weight: 300;
$headings-line-height: 1.5;


$padding-base-vertical: 8px;
$padding-base-horizontal: 20px;
$padding-large-horizontal: 30px;
$padding-large-vertical: 15px;
