.navitem {
  border-bottom: 1px solid lightgrey;
  margin-top: 0px;
}

.nav {
  border: 1px solid lightgrey;
  border-bottom: 0;
}

.nav li {
  margin-top: 0px !important;
}

.nav a {
  border-radius: 0px !important;
}

.header {
  text-align: center;
}
