
.heading {
  padding-top: 50px;
  text-align:center;
}

.heading h3 {
  margin-bottom: 70px;
}

.headingImage {
  box-shadow: 0 1px 20px 0 rgba(0,0,0,0.15);

}

.callbackContainer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), linear-gradient(to bottom, #59a2ff, #3e78ff);

}

.callbackHeader {
  color: white;
  text-align: center;
  margin-bottom: 25px;
}

.playButton {
  display: block !important;
  text-align: center;
  margin-bottom: 5px;
}

.pageHeader {
  border: 0;
}

.videoDiv {
  text-align: center;
  cursor: pointer;
  margin-bottom: 30px;
}
