
.addon {
  border-right: 0;
  background-color: white;
}


.input {
  border-left: 0;
}

.inputGroup {
  margin-bottom: 15px;
}

.button {
  display:block !important;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: 40px;
}

.nameImage {
  height: 20px;
}

.green {
  background: none;
  background-color: #39a91c;
}

.form {

  label {
    color: white;
    font-size: 18px;
  }

  input {
    width: 100%;
    height: 38px;
    padding: 8px 20px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    margin-bottom: 8px;
  }

  input[type=submit] {
    color: white !important;
    border: none;
    font-size: 17px;

  }

  div[class=submitted-message] {
    color: white;
    font-size: 18px;
    text-align: center;
  }

}

.callbackHeader {
  color: white;
  text-align: center;
  margin-bottom: 25px;
}

