.header {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 2.0rem;
  color: darkblue;
  font-weight: 600;
}

.subheading {
  margin-top: 0px;
  font-size: 2.6rem;
  line-height: 3.0rem;
  margin-bottom: 45px;
}

.screenshotRow {
  margin-bottom: 20px;
}

.screenshot {
  border: 1px solid grey;
}

