.container {
  padding-top: 110px;
  padding-bottom: 100px;
  border-top: 1px solid #979797;
  background-color: #f9f9f9;
}

.childContainer {
  padding-left: 55px;
  padding-right: 15px;
}

.childContainer h2 {
}

.childContainer h3 {
}

.screenshot {
  box-shadow: 0 1px 20px 0 rgba(0,0,0,0.15);
}

.imageContainer {
  //padding-right: 15px;
}

.imageContainer img {
  max-height: 450px;
}

.button {
  margin-top: 20px;
}

