.pageHeader {
  border: 0;
  text-align: center;
}

.pageHeader h3 {
  color: white !important;
}

.headerButton {
  width: 250px;
  margin: 0 auto;
  display: block;
}


.callbackContainer {
  padding-top: 50px;
  padding-bottom: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), linear-gradient(to bottom, #59a2ff, #3e78ff);

}

.callbackHeader {
  color: white;
  text-align: center;
  margin-bottom: 25px;
}


