* {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
}

.app {
  .brand {
    position: absolute;
    $size: 40px;
    top: 5px;
    left: 5px;
    display: inline-block;
    width: $size;
    height: $size;
    background-size: 80%;
    margin: 0 10px 0 0;
    border-radius: $size / 2;
  }
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
}

h1 {
  line-height: 1.8;
}

h1, h1 > span {
  font-size: 42px !important;
  font-weight: 500 !important;
}

h1 small, small {
  font-size: 24px !important;
  color: white !important;
  display: block;
  line-height: 1.7 !important;
}

h1 > small {
  margin-top: 9px;
}

h2 {
  font-size: 32px !important;
  font-weight: 500 !important;
}

h3 {
  font-size: 18px !important;
}

.navRight {
  min-width: 516px;
}

.content{
  min-height: 60vh;
}

.footer{
  margin-top: 0px;
  background: #414B5B;
  color: #e7e7e7;
  padding: 40px 0px;

  .socal{
    padding-top: 25px;
  }

  :global(a){
    color: #e7e7e7;
  }

  :global(.list-inline){
    :global(li){
      padding: 0px 15px;
    }
  }
}

.logoLink {
  font-size: 20px !important;
  font-weight: 500 !important;

  img {
    width: 22px;
    height: 22px;
    display: inline !important;
    margin-right: 10px;
  }
}

iframe[name='google_conversion_frame'] {
    height: 0 !important;
    width: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}

[aria-labelledby=solutionsDropdown] {
  width: 370px;
}

.aboutDropdownMenuColumn {
  padding-right:0 !important;
}

.productsDropdownMenuColumn {
  padding-left:8px !important;
  padding-right:5px !important;
}

.solutionsDropdownHeader {
  margin-left: 10px;
}

.solutionsDropdown {
  margin-right: 20px;
}

.menuHeader {
  padding-left: 10px;
  margin-bottom: 5px;
}

.menuItem {
  display: block;
  padding: 2px 0px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857;
  color: #333333;
  white-space: nowrap;
}

.menuItem a {
  display: block;
  padding: 2px 10px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857;
  white-space: nowrap;
}

.menuItem a:not(:hover) {
  color: #333333 !important;
  background-color: transparent !important;
}

.menuItem a:hover, .menuItem a:focus, .menuItem a:active {
  background-color: #417bff;
  text-decoration: none;
  color: white;
  outline: 0;
}

.industriesDropdown {
  display: none !important;
  margin-right: 15px;
}
