@import '../../theme/variables.scss';

.table{
  padding-top: 65px;
}
.column{
  border: 1px solid #e7e7e7;
  padding-bottom: 25px;
  padding-top: 25px;
}
.popular{
  transform: translateY(-30px);
  padding-top: 55px;
  overflow: hidden;
}
.name{
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #444;
  width: 90%;
  margin: 0 auto;
  margin-top: 5px;
}

.quantity{
  text-align: center;
  border-bottom: 1px solid #d5d5d5;
  margin-top: 10px;

  .dollar{
    font-size: 19px;
    position: relative;
    top: -18px;
  }

  .price{
    font-size: 49px;
  }
  .period{
    font-size: 17px;
    position: relative;
    top: -8px;
    margin-left: 4px;
  }
}

.specs{
  margin-top: 20px;

  .spec{
    font-size: 15px;
    color: #474747;
    text-align: center;
    font-weight: 300;
    margin-bottom: 13px;

    .variable{
      color: $brand-info;
      font-weight: 500;
    }
  }
}

.start_trial {
  width: 100px;
  margin: 0 auto;
}
