.pageHeader {
  border: 0;
  text-align: center;
}

.pageHeader h3 {
  color: white !important;
}

.headerButton {
  width: 250px;
  margin: 0 auto;
  margin-top: 50px;
  display: block;
}


.callbackContainer {
  padding-top: 50px;
  padding-bottom: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), linear-gradient(to bottom, #59a2ff, #3e78ff);

}

.callbackHeader {
  color: white;
  text-align: center;
  margin-bottom: 25px;
}

.topLogoContainer {
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: baseline;

}

.topLogo {
  margin-right: 20px;
  margin-left: 20px;

}

.shopifyContainer {
  background: linear-gradient(#30373b, #30373b), linear-gradient(113deg, #1fc5b9, #6acfb6);
  color: white;
}

.shopifyContainer h2, .shopifyContainer h3 {
  color: white !important;
}

.shipwireContainer {
  background: linear-gradient(114deg, #1fc5b9, #6acfb6);
  color: white;
}

.shipwireContainer h2, .shipwireContainer h3 {
  color: white !important;
}
