.hero{
  background: url('../../../static/images/warehouse-bg.jpg') center center no-repeat;
  background-size: cover;
  color: #fff;
  margin-top: -75px;
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
}

.blackOverlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0,0,0,0.55);
}

.overlay{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: linear-gradient(to bottom, #59a2ff, #3e78ff);
  opacity: 0.6;
}

.greenOverlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(44,160,28,0.9);
}

.blueOverlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: linear-gradient(108deg, #1fc5b9, #6acfb6);
}


.pageHeader {
  border: 0;
  text-align: center;
}

.pageHeader h1 {
  font-size: 40px;
  font-weight: 400;
}

.pageHeader small {

}
